.filter-container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  