
@media only screen and (max-width: 600px) {
  .navbar {
    top: 1.6rem;
    width: 360px;
    margin-bottom: 4px;
  }
  .carousel-inner {
    display: flex;
    align-content: center;
    justify-content: flex-start !important;
  }
  .logo_name {
    font-size: 2.0em !important;
    text-align: center;
    margin: 0 auto;
  }

  .sidebar {
    position: fixed;
    top: 0px !important;
    left: 0;
    width: 351px !important;
    height: 100% !important;
    background: #afaaaacb !important;
    padding: 66px 10px !important;
    color: white;
  }

  body {
    max-width: 100px !important;
    height: 700px;
    overflow: hidden;
  }

  .p_intro {
    font-size: 0.5em;
    width: 70%;
    margin: 0 auto;
  }

  .intro {
    font-size: 170%;
  }

  #board {
    font-family: "Netron", sans-serif;
    font-size: 200%;
  }

  .carousel-inner {
    display: flex;
    justify-content: end;

  }

  .carousel-inner .active {
    position: relative;
    right: 27.3px !important;
    border: none;
    padding: 0; 
    width: 500px !important;
  }

  .logo {
    filter: drop-shadow(0 55px 55px rgba(255, 222, 32, 0.7));
    width: 210px !important;
    height: 131px !important;
    color: white !important;
  }

  .btn .fs-2 {
    color: white !important;
  }

  .popup.show {
    visibility: visible !important;
    opacity: 1;
  }
  #app{
    max-width:400px !important;
   }
}


@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (max-height: 892px) {
  /* .cards_right {
    position: fixed;
    top: 94px !important;
    left: 405px;
    overflow: hidden;
  } */
}


@media only screen and (min-width: 1200px) {
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-width: 936px;
  }
  /* .cards_right {
    position: fixed;
    top: 124px !important;
    left: 445px;
    
  } */
}
